@charset "UTF-8";

*,
*:focus,
*:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	outline: none;
}


body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: DINPro;
	font-size: 18px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url(../fonts/DINPro-Light.woff2) format("woff2"), url(../fonts/DINPro-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url(../fonts/DINPro-Medium.woff2) format("woff2"), url(../fonts/DINPro-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url(../fonts/DINPro-Regular.woff2) format("woff2"), url(../fonts/DINPro-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: DINPro;
	font-display: swap;
	src: url(../fonts/DINPro-Bold.woff2) format("woff2"), url(../fonts/DINPro-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6 p,
li {
	margin: 0
}

a {
	display: block;
	text-decoration: none
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed
}

ol[class],
ul[class] {
	list-style: none
}

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto
}

img {
	max-width: 100%;
	display: block
}

article>*+* {
	margin-top: 1em
}

button,
input,
select,
textarea {
	font: inherit
}

:root {
	--swiper-theme-color: #007aff;
	--border_radius: 30px;
}

.container {
	width: 100%;
	flex: 0 0 auto;
	position: relative;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}

.container._small {
	max-width: 960px
}

@media screen and (max-width:380px) {
	.container {
		padding: 0 10px
	}
}

.header__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.header__logo {
	width: 200px;
	height: 40px;
	margin-right: 35px;
	flex-shrink: 0;
}

.header-nav {
	display: flex;
}

.header-nav__link {
	margin-right: 15px;
	text-transform: uppercase;
	color: #333;
	letter-spacing: 0.5px;
	font-weight: 600;
	font-size: 16px;
}

.header__btns {
	background-color: #0078dc;
	margin-top: -20px;
	margin-bottom: -20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 164px;
	flex-shrink: 0;
	margin-left: auto;
	height: 80px;

}

.header__btn {
	cursor: pointer;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-container {
	max-width: 1440px;
	padding: 0 0 0 44px;

}

.mobile-btn {
	display: none;
}

@media (max-width: 1280px) {
	.header-nav {
		display: none;
	}

	.header__btn {
		display: none;
	}

	.header__btns {
		width: 80px;
	}

	.header__logo {
		width: 146px;
		height: 26px;
	}

	.header__wrapper {
		padding: 13px 0;
	}

	.header__btns {
		margin-top: -13px;
		margin-bottom: -13px;
		height: 55px;
		width: 55px;
	}

	.mobile-btn {
		cursor: pointer;
		width: 100%;
		height: 100%;
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='19' viewBox='0 0 26 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='26' height='3' fill='white'/%3e%3crect y='8' width='26' height='3' fill='white'/%3e%3crect y='16' width='26' height='3' fill='white'/%3e%3c/svg%3e ");
	}
}


.footer {
	background: #3376d5;
	padding: 50px 0;
	margin-top: 57px;

	.container {
		padding: 0 27px 0 32px;

	}
}

.footer .footer__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff
}

.footer .footer__btn {
	cursor: pointer;
	line-height: 100%;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 26px;
	color: #fff;
	padding: 18px 40px;
	font-weight: 700;
	font-size: 16px
}

.footer .footer__to-top {
	cursor: pointer;
	display: block;
	gap: 8px;
}

.footer .footer__box {
	font-size: 16px;
	line-height: 100%;
	padding: 13px 7px;
	border: 1px solid #fff;
	border-radius: 6px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .5;
}

.footer .footer__text {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.footer .footer__text a {
	color: #fff
}

@media screen and (min-width:993px) {
	.footer .footer__box {
		margin-left: 68px;
	}

	.footer .footer__to-top {
		margin-left: 45px;
	}

	.footer__logo {
		margin-right: 50px;
	}

	.footer__dev {
		margin-left: auto;
	}

}

@media (max-width:992px) {
	.footer .footer__wrapper {
		flex-direction: column;
		gap: 20px;
		text-align: center;
		justify-content: flex-start
	}
}


.article_head {
	position: relative;
	height: 0;
	padding-bottom: clamp(300px, 44%, 631px);
	overflow: hidden;
}

.article_head_bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
	background: rgba(41, 82, 122, 0.30);
	backdrop-filter: blur(23px);
	width: -moz-fit-content;
	width: fit-content;
	z-index: 1;
	position: relative;
	padding: 4px 14px 6px;
	margin: 9px 0 20px;
}

.breadcrumb_item {
	display: flex;
	align-items: center;
}

.breadcrumb_link {
	color: #FFF;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 12px;
	letter-spacing: 0.5px;
	padding: 2px 0;
}

.breadcrumb_pipe {
	font-size: 16px;
	font-weight: 400;
	line-height: 115%;
	background-position: center;
	background-repeat: no-repeat;
	width: 4px;
	height: 6px;
	margin: 0 20px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L4 4L1 7' stroke='white'/%3e%3c/svg%3e ");
}

.article_block {
	display: flex;
	color: #2A2E3B;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;

	p {
		margin-bottom: 60px;
		margin-top: 60px;
	}
}

.article_block_item {
	margin-bottom: 60px;
	margin-top: 60px;
}

.article_block_left {
	width: calc(100% - 400px);
	padding-right: 40px;
	margin-top: -137px;
}

.article_block_right {
	width: 400px;
	padding-top: 40px;
}

h1 {
	color: #FFF;
	font-size: 44px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 20px;

}

.subtitle {
	color: #0078DC;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
}

.article_block_title {
	margin-top: 0 !important;
	border-radius: var(--border_radius);
	background: linear-gradient(98deg, #0078DC -6.68%, #25589D 134.98%);
	padding: 40px;
	color: #fff;
}

.likes_block {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;

	img {
		width: 32px;
		height: 32px;
	}
}

.article_block_title_bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.date {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
	}
}

.img_block,
.imgs_block_item,
.video_block {
	.img {
		border-radius: var(--border_radius);
		overflow: hidden;
		height: 0;
		position: relative;

		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.text {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		padding: 10px 20px;
	}

}

.img_block {
	.img {
		padding-bottom: 59%;
	}
}

.quote {
	position: relative;
	color: #0078DC;
	font-family: DINPro;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;
	display: flex;
	align-items: flex-start;
	gap: 38px;

	&:before {
		flex: 0 0 auto;
		border-radius: var(--border_radius);
		background: #E8F5FF;
		width: 94px;
		height: 94px;
		content: '';
		display: block;
		position: relative;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='55' height='39' viewBox='0 0 55 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.77 0H0V14.77C0 18.9532 3.39116 22.3444 7.57436 22.3444H12.494C12.494 22.5762 12.4876 22.8086 12.4746 23.0413C12.2901 26.3498 10.7988 29.4494 8.32884 31.6583L14.8954 39.0007C19.3126 35.0503 21.9796 29.5068 22.3097 23.5899C22.3338 23.1571 22.3453 22.7249 22.3444 22.2938V7.57436C22.3444 3.39116 18.9532 0 14.77 0Z' fill='%230078DC'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.3403 0H32.5703V14.77C32.5703 18.9532 35.9615 22.3444 40.1447 22.3444H45.0643C45.0643 22.5762 45.0579 22.8086 45.0449 23.0413C44.8604 26.3498 43.3691 29.4494 40.8991 31.6583L47.4657 39.0007C51.8829 35.0503 54.55 29.5068 54.88 23.5899C54.9042 23.1571 54.9157 22.7249 54.9147 22.2938V7.57436C54.9147 3.39116 51.5235 0 47.3403 0Z' fill='%230078DC'/%3e%3c/svg%3e ");
	}
}

.imgs_block {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.imgs_block_item {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: var(--border_radius);

	.img {
		padding-bottom: 125%;
	}
}

.video_block {
	.img {
		padding-bottom: 59%;
	}
}

.article_info {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

.article_info_col {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}

.article_info_item {
	border-radius: var(--border_radius);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
}

.article_info_item_imgs {
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 0 0 auto;

	img {
		width: 32px;
		height: 32px;
		flex: 0 0 auto;
	}
}

.article_info_item {
	min-height: 88px;
}

.article_info_like {
	display: block;

	&>div {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #E8F5FF;
		color: #0078DC;
	}

	.article_info_like_two {
		display: none;
	}

	&.active {
		.article_info_like_one {
			display: none;
		}

		.article_info_like_two {
			display: flex;
		}
	}
}

.article_info_share {
	background: linear-gradient(98deg, #0078DC -6.68%, #25589D 134.98%), #0078DC;
	color: #fff;
}

.form {
	border-radius: var(--border_radius);
	background: #E8F5FF;
	padding: 35px;
}

.form_title_wrapper {
	margin-bottom: 30px;
}

.form_title {
	color: #0078DC;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
}

.form_subtitle {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	/* 35.2px */
}

.form_input_row {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;

	.form_input_group {
		width: calc(50% - 20px);
	}
}

.form_input_group {
	margin-bottom: 8px;
}

.form_input_wrapper {
	display: flex;
	flex-direction: column;

	span {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		display: block;
		margin-bottom: 5px;
	}
}

.form_input {
	border-radius: 5px;
	border: 1px solid #B2D7F5;
	background: #F6FBFF;
	height: 48px;
	padding: 10px 20px;
	font-size: 16px;
}

.form_textarea {
	resize: none;
	height: 60px;
}


.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 18px 40px;
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 0;
	cursor: pointer;
	transition: all 0.2s ease;
	border-radius: 5px;
	background: #0078DC;
	position: relative;
	font-weight: 600;
	border: none;
}

.form {
	.btn {
		margin-top: 30px;

	}
}

.read-more-section {
	padding-top: 40px;
}

.read-more-section__title {
	margin-bottom: 40px;
	color: #333;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
}

.read-more__list {
	flex-wrap: wrap;
	margin-right: -20px;
	margin-left: -20px;
	display: flex;
	padding: 0;
}

.read-more__list-col {
	width: 25%;
	padding-left: 20px;
	padding-right: 20px;
}

.read-more__list-item {
	width: 100%;
	color: #333;
	display: block;
}

.list-item__image {
	width: 100%;
	height: 0;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 90%;
	overflow: hidden;
	border-radius: var(--border_radius);

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.list-item__title {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
}

.read-more-section .list-item__descr {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 20px;
}

.read-more-section .list-item__likes {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

.list-item__likes:before {
	display: block;
	content: "";
	margin-right: 10px;
	position: relative;
	width: 14px;
	height: 14px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0546884 3.59901C0.304688 1.57759 1.97266 0 4 0C5.24219 0 6.26953 0.669771 7 1.5897C7.73047 0.669771 8.75781 0 10 0C12.0312 0 13.6953 1.57759 13.9492 3.60708C13.9805 3.76847 14 3.93793 14 4.1316C14 6.49193 12.2539 8.62228 10.5898 10.2039C8.92188 11.7896 7.25781 12.8346 7.25781 12.8346L7 13L6.74219 12.8346C6.74219 12.8346 5.07813 11.7896 3.41406 10.2039C1.74609 8.62228 0 6.49193 0 4.1316C0 3.93793 0.0195312 3.76443 0.0546884 3.59901ZM6.57031 2.55804C6.04688 1.64618 5.10156 1.0329 4 1.0329C2.46484 1.0329 1.22656 2.21508 1.03906 3.74426V3.76847L1.03125 3.79268C1.01172 3.88547 1 3.99441 1 4.1316C1 5.93917 2.50391 7.94041 4.08594 9.44537C5.48222 10.7716 6.66686 11.5346 6.96604 11.7273C6.97905 11.7357 6.99039 11.743 7 11.7492C7.00957 11.743 7.02085 11.7358 7.03379 11.7274C7.33267 11.5349 8.51734 10.7719 9.91016 9.44537C11.4961 7.94041 13 5.93917 13 4.1316C13 3.99845 12.9883 3.88951 12.9688 3.79268L12.9609 3.75233C12.7773 2.21508 11.5352 1.0329 10 1.0329C8.89844 1.0329 7.95313 1.64618 7.42969 2.55804L7 3.3085L6.57031 2.55804Z' fill='%23666666'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.blue_block {
	border-radius: var(--border_radius);
	background: #E8F5FF;
	color: #0078DC;
	padding: 40px;
	margin-bottom: 60px;

	span {
		display: block;
	}

	.number {
		font-size: 88px;
		font-style: normal;
		font-weight: 700;
		line-height: 96%;
		margin-bottom: 20px;
	}

	.title {
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
	}

	.text {
		font-size: 22px;
		font-style: normal;
		font-weight: 500;
		line-height: 139%;
	}

	img {
		margin: 20px 0;
	}
}

.blue_block_mobile {
	display: none;
}

@media screen and (max-width:1300px) {
	.article_block_right {
		width: 350px;
	}

	.article_block_left {
		width: calc(100% - 350px);
	}

	.read-more__list-col {
		padding-left: 10px;
		padding-right: 10px;
	}

	.read-more__list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.article_info {
		margin-left: -10px;
		margin-right: -10px;
	}

	.article_info_col {
		padding-left: 10px;
		padding-right: 10px;
	}

	.article_block_title {
		padding: 30px;
	}
}

@media screen and (max-width:1200px) {
	.article_block_right {
		width: 300px;
	}

	.article_block_left {
		padding-right: 20px;
		width: calc(100% - 300px);
	}

	.blue_block {
		padding: 20px;

		.number {
			font-size: 70px;
		}
	}

	h1 {
		font-size: 38px;
	}
}

@media screen and (max-width:1280px) {
	.header-container {
		padding-left: 20px;
	}
}

@media screen and (max-width:1100px) {
	.article_block_left {
		margin-top: -100px;
	}

	.article_block {
		flex-direction: column;
	}

	.article_block_right {
		display: none;
	}

	.article_block_left {
		padding-right: 0;
		width: 100%;
	}

	.blue_block_mobile {
		display: flex;
		gap: 20px;
	}

	.blue_block_numbers {
		display: flex;
		flex-direction: column;
		width: calc(50% - 15px);
		gap: 20px;

		.blue_block {
			height: calc(33.33% - 13.333px);
		}
	}

	.blue_block {
		margin-bottom: 0;
	}

	.blue_block_numbers,
	.blue_block_img {
		width: calc(50% - 10px);
	}

	.blue_block_img {

		img {
			margin-left: auto;
			margin-right: auto;
			max-width: 220px;
		}
	}

	.imgs_block {
		margin-left: -15px;
		margin-right: -15px;
	}

	.imgs_block_item {
		padding-left: 15px;
		padding-right: 15px;
	}

	.form_input_row {
		gap: 20px;
	}

	.form_input_row .form_input_group {
		width: calc(50% - 10px);
	}

}

@media screen and (max-width:992px) {
	.article_info_item {
		min-height: 83px;
	}

	.imgs_block {
		margin-left: -10px;
		margin-right: -10px;
	}

	.imgs_block_item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.breadcrumb_pipe {
		margin: 0 10px;
	}

	.article_block_title {
		padding: 20px;
	}

	h1 {
		font-size: 32px;
	}

	.article_block_title_bottom .date,
	.likes_block {
		font-size: 16px;
	}

	.likes_block {
		gap: 10px;

		img {
			width: 24px;
			height: 24px;
		}
	}

	.article_block {
		font-size: 18px;
	}

	.article_block_item,
	.article_block p {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.subtitle,
	.quote {
		font-size: 24px;
	}

	:root {
		--border_radius: 15px;
	}

	.quote {
		gap: 20px;

		&:before {
			width: 50px;
			height: 50px;
			background-size: 30px;
			border-radius: 10px;
		}
	}

	.blue_block .number {
		font-size: 60px;
	}

	.blue_block .text {
		font-size: 18px;
	}

	.blue_block .title {
		font-size: 20px;
	}

	.article_info_item {
		font-size: 18px;
	}

	.article_info_item_imgs img {
		width: 24px;
		height: 24px;
	}

	.article_info_item_imgs {
		gap: 10px;
	}

	.form_title {
		font-size: 28px;
	}

	.form_subtitle {
		font-size: 18px;
	}

	.read-more__list-col {
		width: 50%;
	}

	.read-more__list-item {
		margin-bottom: 30px;
	}

	.article_info_item {
		padding: 20px;
	}

	.form {
		padding: 20px;
	}

	.read-more-section {
		padding-top: 20px;
	}

	.read-more-section__title {
		font-size: 28px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:768px) {
	.article_info_item {
		min-height: 74px;
	}

	h1 {
		font-size: 24px;
	}

	.read-more-section__title {
		font-size: 24px;
	}

	.article_block_item,
	.article_block p {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.subtitle,
	.quote {
		font-size: 18px;
	}

	.article_block {
		font-size: 16px;
	}

	.img_block .text,
	.imgs_block_item .text,
	.video_block .text {
		padding-left: 0;
		padding-right: 0;
	}

	.blue_block .number {
		font-size: 50px;
	}

	.blue_block .title {
		font-size: 18px;
	}

	.blue_block .text {
		font-size: 16px;
	}

	.article_info_item {
		font-size: 14px;
	}

	.form_title_wrapper {
		margin-bottom: 20px;
	}

	.form_title {
		font-size: 20px;
		line-height: 140%;
	}

	.form_subtitle {
		font-size: 16px;
	}

	.form_input {
		height: 40px;
	}

	.form {
		.btn {
			margin-top: 20px;
		}
	}

	.btn {
		font-size: 14px;
		padding: 15px 20px;
	}

	.list-item__title {
		font-size: 18px;
	}

	.read-more-section .list-item__descr {
		font-size: 14px;
	}

	.read-more-section .list-item__likes {
		font-size: 14px;
	}
}

@media screen and (max-width:576px) {


	.read-more__list-item {
		margin-bottom: 30px;
	}

	.list-item__title {
		font-size: 16px;
	}

	h1 {
		font-size: 22px;
	}

	.breadcrumb {
		border-radius: 10px;
	}

	.article_block_title_bottom .date,
	.likes_block {
		font-size: 14px;
	}

	.likes_block img {
		width: 14px;
		height: 14px;
	}

	.subtitle,
	.quote {
		font-size: 16px;
	}

	.blue_block_mobile {
		flex-direction: column;
	}

	.blue_block_numbers,
	.blue_block_img {
		width: 100%;
	}

	.article_info {
		flex-direction: column;
		gap: 10px
	}

	.article_info_col {
		width: 100%;
	}

	.footer {
		margin-top: 20px;
	}
}

@media screen and (max-width:440px) {
	.read-more__list-col {
		width: 100%;
	}

	.quote {
		gap: 10px;
	}

	.quote:before {
		width: 40px;
		height: 40px;
		background-size: 24px;
	}

	.imgs_block_item {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.imgs_block {
		margin-left: 0;
		margin-right: 0;
		flex-direction: column;
		gap: 10px;
	}

	.blue_block .number {
		font-size: 40px;
		margin-bottom: 10px;
	}

	.blue_block .title {
		font-size: 14px;
	}

	.blue_block .text {
		font-size: 14px;
	}

	.blue_block {
		padding: 16px;
	}

	.article_info_item {
		padding: 16px;
	}

	.form {
		padding: 16px;
	}

	.form_input_row {
		gap: 0;
	}

	.form {
		.btn {
			width: 100%;
		}
	}

	.form_input_row .form_input_group {
		width: 100%;
	}

	.list-item__image {
		padding-bottom: 56.25%;
	}
}

.slider_gallery {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;

	&:after {
		display: none;
	}
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 0;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	left: 0;
}

.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L11 11L1 21' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 1L2 11L12 21' stroke='white' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.video_slide {
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%, );
		width: 60px;
		height: 60px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle opacity='0.5' cx='30' cy='30' r='30' fill='%230078DC'/%3e%3cpath d='M23.8182 20C23.3663 20 23 20.3731 23 20.8333C23 20.8344 23 20.8355 23 20.8366V30V39.1634C23 39.1645 23 39.1656 23 39.1667C23 39.6269 23.3663 40 23.8182 40C23.9885 39.9995 24.1544 39.9449 24.2928 39.8437L24.2944 39.8454L40.5222 30.7568C40.813 30.6213 40.9996 30.3257 41 30C41.0002 29.6648 40.8031 29.3621 40.4998 29.2318L24.2944 20.1546H24.2928C24.1542 20.0541 23.9883 20 23.8182 20V20Z' fill='white'/%3e%3c/svg%3e ");
	}
}